extends layout

block content
    .jumbotron
      .container
        h1 How may I help you?
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
          ligula eget dolor.
        a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
    
    .container
      .row
        .col-md-4
          h2 About us
          p Pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel
          a.btn.btn-default(href='#') View details
        .col-md-4
          h2 Services
          p Pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel
          a.btn.btn-default(href='#') View details
        .col-md-4
          h2 Get In Touch
          p Pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel
          a.btn.btn-default(href='#') View details